# Dependencies (re-created by `npm install`)
node_modules

# Build output (re-created by `npm run build`)
dist
dist-*
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Local-only files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
